{% extends 'base.html' %}
{% block title %}똑똑한 곰곰이{% endblock %}
{% load static %}
{% block content %}
<script>
    function changeImage() {
        var input = document.getElementsByClassName('worry-text')[0];
        var inputValue = input.value;
        var image = document.querySelector('.image-box img');
    
        if (inputValue) { image.src = "/static/photo/bear_ai2.png"; }
        else { image.src = "/static/photo/bear_ai.png"; }
    }
</script>
<style>
    {% comment %} .ask-box {
        margin-top: 50px;
    }
    .worry-box-contents {
        width: 680px;
        height: 248px;
        flex-shrink: 0;
        border-radius: 24px;
        background: var(--ffffff, #FFF);
        box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
        text-align: center;
        border: 1px solid #FFF;
    }
    input::placeholder {
        color:#D2CDBC;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
    }
    
    .worry-box-contents {
        width: 680px;
        height: 248px;
        flex-shrink: 0;
        border-radius: 24px;
        background: var(--ffffff, #FFF);
        box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
        text-align: center;
        border: 1px solid #FFF;
    
    
        color: var(--d-2-cdbc, #67594C);
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        
    }

    {% endcomment %}
    {% comment %} .image-button {
        background: url("{% static 'photo/aigomgom.png'%}") no-repeat;
        border: none;
        width: 700px; 
        height: 700px;
        cursor: pointer;
        margin-top : 50px;
        margin-left:400px;
    }  {% endcomment %}
    .image-button {
        background: url("{% static 'photo/aigomgom.png'%}") no-repeat;
        border: none;
        width: 700px; 
        height: 700px;
        cursor: pointer;
        margin-top : 50px;
        margin-left:400px;
    }

    .worry-box-contents {
        background : #FFFFFF;
    }
    
</style>

    <main>

        <div class="ask-box">
            <div class="ask-text">
                곰곰이에게 물어봐!
            </div>
        </div>

        <div class="think-box">
            <div class="think-text">
                고민을 생각하면서 아래의 곰곰이를 문지르다가
                준비가 되면 손을 떼세요!
            </div>
        </div>

        {% comment %} 기존 {% endcomment %}
        {% comment %} <form action="" method="GET">
            <div class="worry-box">
                <input type ="text" class="worry-box-contents" name="question" placeholder="고민을 간단히 적어주세요">
            </div>
            <button id="submit-button" type="submit" class="image-button"></button>
        </form> {% endcomment %}

        <form action="" method="GET">
            <div class="worry-box">
                <div class="worry-box-contents">
                    <input type ="text" class="worry-text" name="question" placeholder="고민을 간단히 적어주세요" onblur="changeImage()">
                </div>
            </div>
            <div class="image-box">
                <button id="submit-button" class="image-button" type="submit">
                    {% comment %} <img src="{% static 'photo/aigomgom.png'%}"> {% endcomment %}
                </button>
            </div>
            {% comment %} class="image-button"></button> {% endcomment %}
        </form>
    </main>



{% endblock %}
