{% extends 'base.html' %}
    {% block title %}곰곰이의 답변{% endblock %}
{% load static %}

{% block content %}
<style>
    main {
        justify-content: initial;
    }
    .ask-box {
        margin-top: 100px;
    }
    
    .ask-text {
        color: #67594C;
        text-align: center;
        font-family: Pretendard;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
    }
    
    .think-box {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .think-text {
        color: #67594C;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        text-align: center;
    }
    
    
    .re-button {
        width: 179px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 32px;
        background: var(--faf-9-f-6, #FAF9F6);
        color: var(--67594-c, #67594C);
        font-size: 20px;
        font-family: Pretendard;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        border: none;
        {% comment %} margin-top: 37px;
        display: flex;
        justify-content: center;
        align-items: center; {% endcomment %}
    }
    
    .worry-box-contents {
        padding : 0 20px;
        width: 680px;
        height: 248px;
        flex-shrink: 0;
        border-radius: 24px;
        background: #e9e5da
        box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
        text-align: center;
        display:block;

    }
    
    .worry-text {
        color: var(--67594-c, #67594C);
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        margin-top: 70px;
        display: block;
        align : center;
    }
    
    
    .image-box {
        margin-top: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img {
        width: 501px;
        height: 320px;
        flex-shrink: 0;
        background: lightgray -3.534px 0px / 101.411% 153.516% no-repeat;
        background-blend-mode: darken;
    }
    
    main{ 
        background: var(--faf-9-f-6, #FAF9F6);
    }
    
    .worry-button-box{ 
        margin-top: 57px;
        margin-bottom: 19px;
    }
    
    .re-button-img, .worry-button-text {
        display : inline;
    }
{% comment %} .return-button-text{
    color: #67594C;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
.return-button {
    width: 200px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 44px;
    background: var(--ffab-5-d, #FAF9F6);
    border: none;
    margin-top:50px;
}
.worry-box-contents {
    width: 680px;
    height: 248px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--e-9-e-5-da, #E9E5DA);
    box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
    text-align: center;
}
.worry-text {
    color: var(--67594-c, #67594C);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-top: 70px;
} {% endcomment %}
</style>
<body>
    <main>
        <div class="ask-box">
            <div class="ask-text">
                곰곰이의 답변
            </div>
        </div>
        <div class="think-box">
            <div class="think-text">
                당신의 질문: {{ question }}
            </div>
        </div>
        <div class="worry-box">
            <div class="worry-box-contents">
                <div class="worry-text">
                    {{ response }}
                </div>
                <div class="worry-button-box">
                    <button class="re-button" onclick="location.href='{% url 'gomgom:ai' %}'">
                        <div class="re-button-img">    
                            <img src="{% static 'photo/retry.png' %}" alt="retry">
                        <div>
                            <br>
                            <div class="worry-button-text">
                                다시하기
                            </div>

                    </button>
                    
                </div>
                {% comment %}<button class = "return-button" onclick="location.href='{% url 'gomgom:ai' %}'">
                    <div class ="return-button-text">
                    다시하기
                    </div>
                </button> {% endcomment %}
            </div>
        </div>
        <div class="image-box">
            <img src="{% static 'photo/resultgomgom.png' %}" alt="big-bear">
        </div>
    </main>
</body>
{% endblock %}