{% extends 'base-home.html' %}
{% load static %}
{% block title %}홈이다{% endblock %}

{% block content %}
<style type="text/css">
    a:link { color: #67594C; text-decoration: none;}
    a:visited { color: #67594C; text-decoration: none;}
    img { vertical-align: bottom; }
    .post-img { margin : 0px; }
    .todayWorryContent { 
      display : grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .todayWorryContent-left {
      margin : 0 20px;
    }
    .userImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
      }
      .todayWorryContent-question-header__like1{
        right: 50px;
      }
      .main_visual_last{
        padding-bottom: 90px;
      }
      .todayWorryContent-selection-image-content-left {
        width: 181px;
        height: 72px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 2px solid var(--e-9-e-5-da, #E9E5DA);
        background: var(--faf-9-f-6, #FAF9F6);
        color: #67594C;
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        cursor: pointer;
    }
    .todayWorryContent-selection-image-content-right {
        width: 181px;
        height: 72px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 2px solid var(--e-9-e-5-da, #E9E5DA);
        background: var(--faf-9-f-6, #FAF9F6);
        color: #67594C;
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        margin-left: 20px;
        cursor: pointer;
    }
    .fit {
        object-fit: cover;
        border-radius: 10px;
    }
    .todayWorryContent-selection-image-content-left {
        margin-left: 5px;
      }
      .todayWorryContent-selection-image-content-right {
        margin-right: 5px;
      }
</style>
<body>

    <main>
        <div class="main_visual_top">
            <div class="content">
                <div class="first-paragraph">인생은 선택의 연속, 하지만 선택은 항상 어려워요!</div>

                <div class="paragraph-box">
                    <div class="s-t-paragraph">
                        <div class="second-paragraph">고민하지말고,</div>
                        <div class="third-paragraph">곰곰에서 고민을 나눠주세요</div>
                    </div>
                    <div class="fourth-box">
                        <a href="{% url 'posts:post-create'%}">
                            <button class="fourth-paragraph">
                                고민나누기
                            </button>
                        </a>
                    </div>
                </div>

                <div class="main-part">
                    <img class="bear-part-img" src="{% static 'photo/bear-part.png' %}">
                </div>
            </div>
        </div>

        <div class="main_visual_bottom">
            <div class="list-all__container">
                <div class="bear-worry">
                    곰곰이의 고민
                </div>
                <div class="list-all__slide">
                    <button class="slide-btn-prev"  onclick="slidePrev()" ><img src="{% static 'photo/leftBtn-home.png' %}"></button>
                    <div class="list-all__slide-options">
                    {% comment %} writer가 곰곰이인 post만 출력 {%endcomment%}
                    {% for post in gomgom_post_list %}
                                <div class="slide-op">
                                    <a href="{% url 'posts:post-gomgom-detail' post.id %}">
                                    {% if post.image %}
                                        <img class="post-img" src="{{ post.image.url }}">
                                    {% endif %}
                                    <div class="slide-op__worry-title">{{ post.title }}</div>
                                    </a>
                                </div>
                    {% endfor%}
                    </div>
                    <button class="slide-btn-next"  onclick="slideNext()" ><img src="{% static 'photo/rightBtn-home.png'%}"></button>
                    {% comment %} 버튼 눌렀을때 3개씩 슬라이스 하기위한 script 코드 {% endcomment %}
                    <script>
                    var slideIndex = 0;
                    var slideOptions = document.querySelectorAll(".slide-op");
                    var slideLength = slideOptions.length;
                    
                    function slidePrev() {
                        slideIndex -= 3
                        showSlides();
                    }
                    
                    function slideNext() {
                        slideIndex += 3;
                        showSlides();
                    }
                    
                    function showSlides() {
                        for (var i = 0; i < slideLength; i++) {
                        slideOptions[i].style.display = "none";
                        }
                        if (slideIndex <= 0) {
                        document.querySelector(".slide-btn-prev").style.display = "none";
                        } else {
                        document.querySelector(".slide-btn-prev").style.display = "block";
                        }
                        
                        if (slideIndex + 3 >= slideLength) {
                        document.querySelector(".slide-btn-next").style.display = "none";
                        } else {
                        document.querySelector(".slide-btn-next").style.display = "block";
                        }
                        for (var j = slideIndex; j < slideIndex + 3; j++) {
                        if (slideOptions[j]) {
                            slideOptions[j].style.display = "block";
                            slideOptions[j].classList.add("list-all__slide-options");
                        }
                        }
                    }
                    showSlides();
                    </script>
                    {% comment %}~스크립트 코드 끝~{% endcomment %}
                </div>
                </div>
            </div>
        </div>

        <div class="main_visual_last">
            <div class="shortCut">
                <div class="shortCutImage">
                    <img class="bear-img" src="{% static 'photo/bear.png' %}">
                </div>
                <div class="shortCutText">
                    <div class="shortCutText1">
                        고민에 대한 짧은 대답을 듣고 싶다면?
                    </div>
                    <div class="shortCutText2">
                        곰곰이에게 물어봐~
                    </div>
                </div>
                <div class="shortCutButton">
                    <a href="{% url 'gomgom:ai'%}">
                        <button>
                            곰곰이 바로가기
                        </button>
                    </a>
                </div>
            </div>

            <div class="todayWorry">
                <div class="todayWorryText">
                    <div class="todayWorryText1">
                        오늘의 고민들
                    </div>
                    <div class="todayWorryText2">
                        <a href="{% url 'posts:post-list-all'%}">
                            <button>
                                더 많은 고민 보러가기 >
                            </button>
                        </a>
                    </div>
                </div>

                <section class="content-section">
                    <div class="todayWorryContent">
                      {% for post in post_list %}
                          <div class="todayWorryContent-left">
                            <div class="todayWorryContent-left-start">
                                <div class="todayWorryContent-medium-sizebox">
                                    <div class="todayWorryContent-question-header">
                                        <div class="todayWorryContent-question-header__title">
                                          <a href="{% url 'posts:post-detail' post.id %}">{{ post.title }}</a>
                                        </div>
                                        <div class="todayWorryContent-question-header__like1">
                                            <div class="todayWorryContent-question-header__like-icon">
                                              <img src="{% static 'photo/message.svg'%}" alt="message">
                                            </div>
                                            <div class="todayWorryContent-question-header__like-count">
                                              {{ post.comment_set.count }}
                                            </div>
                                        </div>
                                        <div class="todayWorryContent-question-header__like2">
                                            <div class="todayWorryContent-question-header__like-icon">
                                                <img class=".todayWorryContent-icon" src="{% static 'photo/heart.svg'%}" alt="heart">
                                            </div>
                                            <div class="todayWorryContent-question-header__like2-text">
                                                {{ post.like.count }}
                                            </div>
                                        </div>
                                    </div>


                                    
                                    {% comment %} {% endcomment %}

                                <div class="todayWorryContent-two-buttons">
                                    {% if post.selection_set.all.0.image %}
                                    <img class="fit" src="{{ post.selection_set.all.0.image.url }}" height="72" width="72">
                                    <div class="todayWorryContent-selection-image-content-left">
                                    <div class="todayWorryContent-two-buttons-left-1">
                                        <div>{{ post.selection_set.all.0.content }}</div>
                                        <div class="hidden ratio">60%</div>
                                    </div>
                                    </div>
                                    {% else %}
                                    <div class="todayWorryContent-two-buttons-left">
                                    <div class="todayWorryContent-two-buttons-left-1">
                                        <div>{{ post.selection_set.all.0.content }}</div>
                                        <div class="hidden ratio">60%</div>
                                    </div>
                                    </div>
                                    {% endif %}
                                    
                                    {% if post.selection_set.all.1.image %}
                                    <div class="todayWorryContent-selection-image-content-right">
                                        <div class="todayWorryContent-two-buttons-right-1">
                                            <div>{{ post.selection_set.all.1.content }}</div>
                                            <div class="hidden ratio">40%</div>
                                        </div>
                                    </div>
                                    <img class="fit" src="{{ post.selection_set.all.1.image.url }}" height="72" width="72">
                                    {% else %}
                                    <div class="todayWorryContent-two-buttons-right">
                                    <div class="todayWorryContent-two-buttons-right-1">
                                        <div>{{ post.selection_set.all.1.content }}</div>
                                        <div class="hidden ratio">40%</div>
                                    </div>
                                    </div>
                                    {% endif %}


                                </div>



                                    <div class="todayWorryContent-left-start-box-post">
                                      {{ post.content|linebreaksbr }}
                                    </div>
                                </div>
                  
                                <div class="todayWorryContent-profile">
                                    <div class="todayWorryContent-profile-box">
                                        <div class="todayWorryContent-profile-box-1">
                                            <div class="todayWorryContent-profile-box-icon">
                                              {% if post.writer.image %}
                                                <img class="userImage" src="{{ post.writer.image.url }}" alt="프로필 이미지">
                                              {% else %}
                                                <img src="{% static 'photo/completeGom.png' %}" alt="프로필 이미지"  height=40, width=45>
                                              {% endif %}
                                            </div>
                                            <div class="todayWorryContent-profile-box-text1">
                                              {{ post.writer }}
                                            </div>
                                        </div>
                                        <div class="todayWorryContent-profile-box-text2">
                                          {{ post.created_string }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                          </div>
                          {% endfor %}
                    </div>
                </section>
        </main>

</body>
{% endblock %}