
{% extends 'base.html' %}
  {% block title %} 게시판 {% endblock %}
{% load static %}

{% block content %}
      <section class="list-all">
        <div class="list-all__container">
          <div class="list-all__title">곰곰이의 고민</div>
          <div class="list-all__slide">
            <button class="slide-btn-prev"><img src="{% static 'photo/leftBtn.png' %}"></button>
            <div class="list-all__slide-options">
              {% comment %} 곰곰이의 고민 (writer가 곰곰인 글만 출력) {%endcomment%}
              {% for post in post_list %}
                  {% if post.writer|stringformat:"s" == "gomgom" %}
                      <div class="slide-op">
                            {{ post.title }}
                            <a href="#"></a>
                      </div>
                  {% endif %}
              {% endfor%}
            </div>
            <button class="slide-btn-next"><img src="{% static 'photo/rightBtn.png'%}"></button>
          </div>
        </div>
      </section>
  
      <section class="category">
        <div class="category__container">
          <div class="category__title">고민을 한 곳에 모았어요</div>
          <div class="category__btns">
            <input type="button" value="대인관계">
            <input type="button" value="연애">
            <input type="button" value="교육">
            <input type="button" value="생활">
            <input type="button" value="건강">
            <input type="button" value="반려동물">
            <input type="button" value="여행">
            <input type="button" value="쇼핑">
            <input type="button" value="기타">
          </div>
        </div>
      </section>
      <section>
          {%comment%}사용자들의 고민 넣을 곳{%endcomment%}
          
  
      </section>
    </main>
  {% endblock %}