<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post-list</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <p>gomgom</p>
          </div>
        <nav class="nav">
          <ul class="nav__navbar">
            <li><a href="#">메인</a></li>
            <li><a href="#">고민올리기</a></li>
            <li><a href="post-list-all.html">게시판</a></li>
            <li><a href="#">곰곰이</a></li>
          </ul>
          <a href="마이페이지URL" class="mypage-button">
            <img src="photo/mypage-icon.png" alt="마이페이지">
          </a>
        </nav>
    </header>
    <section class="detail-sec1">
        <div class="detail-container">
            <p>곰곰이의 고민</p>
            <div id="todayQuestion">
                <img src="photo/gomgom.png">
                <div class="questionBox">
                </div>
            </div>
        </div>
    </section>
    <section class="detail-sec2">
    </section>
    <footer class="detail-footer">
        <form class="answer-form">
            <div class="answer-form__div">
                <input type="text" placeholder="곰곰이의 고민에 댓글을 써주세요.">
                <button type="submit"></button>
            </div>
        </form>
    </footer>
</body>
</html>