{% extends 'base.html' %}
    {% block title %}게시판{% endblock %}
{% load static %}

{% block content %}
<style type="text/css">
  a:link { color: #67594C; text-decoration: none;}
  a:visited { color: #67594C; text-decoration: none;}
  img { vertical-align: bottom; }
  .post-img { margin : 0px; }
  .todayWorryContent { 
    display : grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .todayWorryContent-left {
    margin : 0 20px;
  }
  .userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
</style>

<section class="list-all">
  <div class="list-all__container">
    <div class="list-all__title">곰곰이의 고민</div>
    <div class="list-all__slide">
      <button class="slide-btn-prev"  onclick="slidePrev()" ><img src="{% static 'photo/leftBtn.png' %}"></button>
      <div class="list-all__slide-options">
        {% comment %} writer가 gomgom인 post만 출력 {% endcomment %}
        {% for post in gomgom_post_list %}
                    <div class="slide-op">
                      <a href="{% url 'posts:post-gomgom-detail' post.id %}">
                        <img class="post-img" src="{{ post.image.url }}">
                        <div class="slide-op__worry-title">{{ post.title }}</div>
                      </a>
                    </div>
        {% endfor%}
      </div>
      <button class="slide-btn-next"  onclick="slideNext()" ><img src="{% static 'photo/rightBtn.png'%}"></button>
      {% comment %} 버튼 눌렀을때 3개씩 슬라이스 하기위한 script 코드 {% endcomment %}
      <script>
        var slideIndex = 0;
        var slideOptions = document.querySelectorAll(".slide-op");
        var slideLength = slideOptions.length;
        
        function slidePrev() {
          slideIndex -= 3
          showSlides();
        }
        
        function slideNext() {
          slideIndex += 3;
          showSlides();
        }
        
        function showSlides() {
          for (var i = 0; i < slideLength; i++) {
            slideOptions[i].style.display = "none";
          }
          if (slideIndex <= 0) {
            document.querySelector(".slide-btn-prev").style.display = "none";
          } else {
            document.querySelector(".slide-btn-prev").style.display = "block";
          }
          
          if (slideIndex + 3 >= slideLength) {
            document.querySelector(".slide-btn-next").style.display = "none";
          } else {
            document.querySelector(".slide-btn-next").style.display = "block";
          }
          for (var j = slideIndex; j < slideIndex + 3; j++) {
            if (slideOptions[j]) {
              slideOptions[j].style.display = "block";
              slideOptions[j].classList.add("list-all__slide-options");
            }
          }
        }
        showSlides();
        </script>
        {% comment %}~스크립트 코드 끝~{% endcomment %}
    </div>
  </div>
</section>

<section class="category">
  <div class="category__container">
    <div class="category__title">고민을 한 곳에 모았어요</div>
      <form action="" method="GET" enctype="multipart/form-data">
        <div class="category__btns">
          <input  class="category-btn" type="submit"  name="category" value="대인관계">
          <input  class="category-btn" type="submit"  name="category" value="연애">
          <input  class="category-btn" type="submit"  name="category" value="교육">
          <input  class="category-btn" type="submit"  name="category" value="생활">
          <input  class="category-btn" type="submit"  name="category" value="건강">
          <input  class="category-btn" type="submit"  name="category" value="반려동물">
          <input  class="category-btn" type="submit"  name="category" value="여행">
          <input  class="category-btn" type="submit"  name="category" value="쇼핑">
          <input  class="category-btn" type="submit"  name="category" value="기타">
        </div>
    </form>
  </div>
</section>


<section class="content-section">
  <div class="todayWorryContent">
    {% for post in filter_list %}
    {% if post.writer|stringformat:"s" != "gomgom"%}
        <div class="todayWorryContent-left">
          <div class="todayWorryContent-left-start">
              <div class="todayWorryContent-medium-sizebox">
                  <div class="todayWorryContent-question-header">
                      <div class="todayWorryContent-question-header__title">
                        <a href="{% url 'posts:post-detail' post.id %}">{{ post.title }}</a>
                      </div>
                      <div class="todayWorryContent-question-header__like1">
                          <div class="todayWorryContent-question-header__like-icon">
                            <img src="{% static 'photo/message.svg'%}" alt="message">
                          </div>
                          <div class="todayWorryContent-question-header__like-count">
                            {{ post.comment_set.count }}
                          </div>
                      </div>
                      <div class="todayWorryContent-question-header__like2">
                          <div class="todayWorryContent-question-header__like-icon">
                              <img class=".todayWorryContent-icon" src="{% static 'photo/heart.svg'%}" alt="heart">
                          </div>
                          <div class="todayWorryContent-question-header__like2-text">
                              {{ post.like.count }}
                          </div>
                      </div>
                  </div>
                  <div class="todayWorryContent-two-buttons">
                      <div class="todayWorryContent-two-buttons-left">
                          <div class="todayWorryContent-two-buttons-left-1">
                              <div>{{ post.selection_set.all.0.content }}</div>
                              <div class="hidden ratio">60%</div>
                          </div>
                      </div>
                      <div class="todayWorryContent-two-buttons-right">
                          <div class="todayWorryContent-two-buttons-right-1">
                              <div>{{ post.selection_set.all.1.content }}</div>
                              <div class="hidden ratio">40%</div>
                          </div>
                      </div>
                  </div>
                  <div class="todayWorryContent-left-start-box-post">
                    {{ post.content }}
                  </div>
              </div>

              <div class="todayWorryContent-profile">
                  <div class="todayWorryContent-profile-box">
                      <div class="todayWorryContent-profile-box-1">
                          <div class="todayWorryContent-profile-box-icon">
                            {% if post.writer.image %}
                              <img class="userImage" src="{{ post.writer.image.url }}" alt="프로필 이미지">
                            {% else %}
                              <img class="userImage" src="{% static 'photo/mypage-icon.png' %}" alt="프로필 이미지">
                            {% endif %}
                          </div>
                          <div class="todayWorryContent-profile-box-text1">
                            {{ post.writer }}
                          </div>
                      </div>
                      <div class="todayWorryContent-profile-box-text2">
                        {{ post.created_string }}
                      </div>
                  </div>
              </div>
          </div>
          
        </div>
        {% endif %}
        {% endfor %}
  </div>
</section>

<div class="pageNumberBar">
  <div class="pageNumberBar-container">
    <div class="pageNumberBar-container__left-btn">
      <img src="{% static 'photo/leftBtn.png'%}">
    </div>
    <div class="pageNumberBar-container__chosen-page">
      <img src="{% static 'photo/chosenPageSign.svg' %}">
    </div>
    <div class="pageNumberBar-container__second">
      2
    </div>
    <div class="pageNumberBar-container__third">
      3
    </div>
    <div class="pageNumberBar-container__right-btn">
      <img src="{% static 'photo/rightBtn.png'%}">
    </div>
    </div>
</div>
</main>
</main>

{% endblock %}