{% extends 'base-no-footer.html' %}
    {% block title %}고민상세보기{% endblock %}
{% load static %}

    {% block content %}
        <head>
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/screens/post-detail-view.css">
            <script defer src="js/post-detail-view.js"></script>  
            <style>
                .like-button {
                    border: none;
                    background: none;
                    padding: 0;
                    cursor: pointer;
                }
                .answer-form__container input[type="text"] {
                    font-size: 18px;
                    font-family: Pretendard;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                    text-indent: 31px;
                }
                .footer {
                    background : #e9e5da;
                }
                .question-box__choice-btn_image {
                    width: 233px;
                    height: 88px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    border: 2px solid var(--e-9-e-5-da, #E9E5DA);
                    background: var(--faf-9-f-6, #FAF9F6);
                    cursor: pointer;
                }
                .selection-img {
                    object-fit: cover;
                }
            </style>
        </head>

    <body>
    <main>
        <section class="detail-sec1">
            <div class="detail-container">
                <p class="detail-container__today-title">{{post.writer}} 님의 고민</p>
                <div class="detail-container__question">
                    {% if post.writer.image %}
                    <div class="detiail-container__view-user-div">
                        <img class="detail-container__view-user" src="{{ post.writer.image.url }}" alt="프로필 이미지">
                    </div>
                    {% else %}
                    <div class="detiail-container__view-user-div">
                        <img class="detail-container__view-user" src="{% static 'photo/mypage-icon.png' %}" alt="프로필 이미지">
                    </div>
                    {% endif %}
                    <div class="detail-container__div">
                        <div class="detail-container__question-box">
                            <div class="question-box__title-box">
                                <h3 class="question-box__title">{{post.title}}</h3>
                            </div>
                            <h4 class="question-box__content">
                                {{post.content|linebreaksbr}}
                            </h4>
                            <div class="question-box__choice-btns">
                                {% for selection in post.selection_set.all%}
                                    {% if forloop.counter == 0 %}
                                        <button class="question-box__choice-btn">
                                            <div class="choice-btn__content">
                                                <span>{{selection.content}}</span>
                                                <span>{{selection.vote}}</span>
                                            </div>
                                        </button>

                                    {% elif forloop.counter == 1 %}
                                        {% if selection.image %}
                                            <img class="selection-img" src="{{ selection.image.url }}" width="88" height="88">

                                            <button class="question-box__choice-btn_image" onclick="location.href='{% url 'posts:post-detail' post.id %}?param=1'">
                                                <div class="choice-btn__content">
                                                    <span>{{selection.content}}</span>
                                                    <span>{{selection.vote}}</span>
                                                </div>
                                            </button>
                                        {% else %}
                                            <button class="question-box__choice-btn" onclick="location.href='{% url 'posts:post-detail' post.id %}?param=1'">
                                                <div class="choice-btn__content">
                                                    <span>{{selection.content}}</span>
                                                    <span>{{selection.vote}}</span>
                                                </div>
                                            </button>
                                        {% endif %}

                                    {% elif forloop.counter == 2 %}
                                        {% if selection.image %}
                                            <button class="question-box__choice-btn_image" onclick="location.href='{% url 'posts:post-detail' post.id %}?param=2'">
                                                <div class="choice-btn__content">
                                                    <span>{{selection.content}}</span>
                                                    <span>{{selection.vote}}</span>
                                                </div>
                                            </button>
                                            <img class="selection-img" src="{{ selection.image.url }}" width="88" height="88">
                                        {% else %}
                                            <button class="question-box__choice-btn"
                                                onclick="location.href='{% url 'posts:post-detail' post.id %}?param=2'">
                                                <div class="choice-btn__content">
                                                    <span>{{selection.content}}</span>
                                                    <span>{{selection.vote}}</span>
                                                </div>
                                            </button>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="detail-container__like-btn">
                            <span>공감돼요!</span>
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if request.user in post.like.all %}
                                <button type="submit" class="like-button">
                                    <img src="{% static 'photo/heart.svg'%}" alt="좋아요 취소">
                                </button>
                                {% else %}
                                <button type="submit" class="like-button">
                                    <img src="{% static 'photo/heartEmpty.svg'%}" alt="좋아요">
                                </button>
                                {% endif %}
                            </form>
                        </div>        
                    </div>
                </div>
            </div>
            <div class="likeCountContainer">
                <div class="likeCount">
                    <div class="likeCount__comment">
                        <img src="{% static 'photo/message.svg' %}">
                        <span>{{ post.comment_set.all.count }}</span>
                    </div>
                    <div class="likeCount__heart">
                        <img src="{% static 'photo/heart.svg' %}">
                        <span>{{ post.like.count }}</span>
                    </div>
                </div>
            </div>
            <div class="detail-container__border"></div>
            
            <!--댓글-->
        </section>
        
        <div class="comments">
            <div class="comments-box custom-scrollbar">
                {% for comment in post.comment_set.all %}
                    <div class="comments-container">
                        <div class="comments-container__userImg">
                            {% if comment.writer.image %}
                                <img class="comment-container__view-user userImage" src="{{ comment.writer.image.url }}" alt="Profile Picture" height="40" width="40">
                            {% else %}
                                <img class="comment-container__view-user userImage" src="{% static 'photo/basic_profile.png' %}" alt="" height="40" width="40">
                            {% endif %}
                        </div>
                        <div class="comments-container__comment-box">
                            <div class="comments-container__comment-box__user-id">
                                {{comment.writer}}
                            </div>
                            <div class="comments-container__comment-box__comment">
                                {{comment.content|linebreaksbr}}
                            </div>
                            <div class="comments-container__comment-box__time">
                                {{ comment.created_string }}
                            </div>
                            <div class="comments-container__comment-box__img">
                                {% if comment.image %}
                                    <img src="{{ comment.image.url }}" alt="" height="100" width="150">
                                {% endif %}
                            </div>
                        </div>
                    </div> 
                    <div class="comments__border"></div>
                    {% endfor %}
            {% comment %} </div> {% endcomment %}
        </div>
        
    </main>
    </body>
    
    <footer class="footer">
        <div class="detail-footer">
            <form class="answer-form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="answer-form__div">
                    <div class="answer-form__container">
                        <input type="text" name="text_field_name" placeholder="곰곰이의 고민에 댓글을 써주세요.">
                        <button type="submit"></button>
                        <div class="answer-form__searchImgBtn">
                            <input type="file" name="file_field_name" class="hidden" id="inputFile">
                            <img src="{% static 'photo/searchImgBtn.svg' %}">
                        </div>
                    </div>
                    <button type="submit" value="작성" onclick="location.href="{% url 'posts:post-detail' post.id %}""><img src="{% static 'photo/submitBtn.svg' %}"></button>
                </div>
            </form>
        </div>
    </footer>
{% endblock %}