
{% extends 'base.html' %}
  {% block title %} 게시판 {% endblock %}
{% load static %}

{% block content %}
      <section class="list-all">
        <div class="list-all__container">
          <div class="list-all__title">곰곰이의 고민</div>
          <div class="list-all__slide">
            <button class="slide-btn-prev" onclick="slidePrev()"><img src="{% static 'photo/leftBtn.png' %}"></button>
            <div class="list-all__slide-options">
              {% comment %} 곰곰이의 고민 (writer가 곰곰인 글만 출력) {%endcomment%}
              {% for post in post_list %}              
                      {% if post.writer|stringformat:"s" == "gomgom"%}
                            <div class="slide-op">
                                  {{ post.title }}
                                  <a href="#"></a>
                            </div>
                      {% endif %}
              {% endfor%}
            </div>
            <button class="slide-btn-next"  onclick="slideNext()" ><img src="{% static 'photo/rightBtn.png'%}"></button>
            {% comment %} 버튼 눌렀을때 3개씩 슬라이스 하기위한 script 코드 {% endcomment %}
            <script>
              var slideIndex = 0;
              var slideOptions = document.querySelectorAll(".slide-op");
              var slideLength = slideOptions.length;
              
              function slidePrev() {
                slideIndex -= 3
                showSlides();
              }
              
              function slideNext() {
                slideIndex += 3;
                showSlides();
              }
              
              function showSlides() {
                for (var i = 0; i < slideLength; i++) {
                  slideOptions[i].style.display = "none";
                }
                if (slideIndex <= 0) {
                  document.querySelector(".slide-btn-prev").style.display = "none";
                } else {
                  document.querySelector(".slide-btn-prev").style.display = "block";
                }
                
                if (slideIndex + 3 >= slideLength) {
                  document.querySelector(".slide-btn-next").style.display = "none";
                } else {
                  document.querySelector(".slide-btn-next").style.display = "block";
                }
                for (var j = slideIndex; j < slideIndex + 3; j++) {
                  if (slideOptions[j]) {
                    slideOptions[j].style.display = "block";
                    slideOptions[j].classList.add("list-all__slide-options");
                  }
                }
              }
              showSlides();
              </script>
              {% comment %}~스크립트 코드 끝~{% endcomment %}
          </div>
        </div>
      </section>
  
      <section class="category">
        <div class="category__container">
          <div class="category__title">고민을 한 곳에 모았어요</div>

          <form action="" method="GET" enctype="multipart/form-data">
            <div class="category__btns">
              <input type="submit" name="category" value="대인관계" >
              <input type="submit" name="category" value="연애" >
              <input type="submit" name="category" value="교육" >
              <input type="submit" name="category" value="생활" >
              <input type="submit" name="category" value="건강">
              <input type="submit" name="category" value="반려동물">
              <input type="submit" name="category" value="여행">
              <input type="submit" name="category" value="쇼핑">
              <input type="submit" name="category" value="기타">
            </div>
        </form>

        </div>
      </section>
      <section>
          {%comment%}사용자들의 고민 넣을 곳{%endcomment%}
          {% for post in filter_list %}
              {% if post.writer|stringformat:"s" != "gomgom" %}
                <div>
                {{post.title}}
                {{post.writer}}
                {{post.created_at}}
                댓글 : {{post.comment_set.all.count}} 개
                </div>
                  {% for selection in post.selection_set.all %}
                  <div>
                    <img class="card__image" src="{{ selection.image.url }}" alt="" height="40" width="40">
                    {{ selection.content }}
                  </div>
                  {% endfor %}
                    <a href ="{% url 'posts:post-detail' post.id %}">전체보기</a>
                <br>
              {% endif %}

          {% endfor %}
      </section>
    </main>
  {% endblock %}