{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="container">
    <div>
    {% block content %}
    {% endblock %}
    </div>
    <div>
        내용내용내용
    </div>
    <div>
    {% if request.user.is_authenticated %}
        <div>{{ user.username }}님 환영합니다.</div>
        <a href = "{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
        <a href = "{% url 'accounts:login' %}">로그인</a>
        <a href = "{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    </div>
</body>
</html>