.footer-home {
    margin-top: ;
    height: 165px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--67594-c, #67594C);
}

.footer {
    height: 165px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #e9e5da;
}

.footer-contents {
    display: flex;
    align-items: row;
}

.gomgom-logo {
    color: var(--faf-9-f-6, #FAF9F6);
    font-family: MuseoModerno;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.footer-text {
    color: var(--faf-9-f-6, #FAF9F6);
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    width: 513px;
    height: 64px;
    margin-left: 515px;
}
