.logo p {
    color: var(--67594-c, #67594C);
    font-size: 32px;
    font-family: MuseoModerno;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav .navbar {
    justify-content: center;
}

#nav .navbar li {
    margin-right: 138px;
}

#nav .navbar li:last-child {
    margin-right: 0;
}

.navbar-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 700px;
}

.navbar-div a {
    text-decoration: none;
    border-bottom: none;
    font-size: 16px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: var(--67594-c, #67594C);
}

.navbar-div-box {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: end;
    margin-bottom: 16px;
}

.mypage-div {
    position: absolute;
    margin-left: 900px;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.mypage-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line {
    height: 4px;
    background: var(--e-9-e-5-da, #E9E5DA);
}