.detail-container__div {
    width: 738px;
    height: 324px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--ffffff, #FFF);
    
    /* Drop Shadow */
    box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
    margin-left: 22px;
}
.detail-container {
    display: flex;
    flex-direction: column;
}
.detail-container__question {
    display: flex;
    margin-top: 68px;
}
