{% extends 'base.html' %}
    {% block title %}로그인{% endblock %}
{% load static %}

{% block content %}        
        <section class="login">
            <div class="login__div">
                <div class="login__icon"></div>
                <div class="login__title"><span style="font-size:medium;">고민하지 말고,</span><br>곰곰에서 고민을 나누어요</div>
            </div>
            <form class="login-form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{ form.as_p }}
                </div>
                <div class="btns">
                    <input class="btns__login" type="submit" value="로그인">
                </div>
            </form>
            <button class="btns__signup" onclick="location.href='{% url 'accounts:signup' %}'">회원가입</button>
        </section>
{% endblock %}