{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap" rel="stylesheet">
        <title>{% block title %}로그인{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <p>gomgom</p>
              </div>
            <nav class="nav">
              <ul class="nav__navbar">
                <li><a href="#">메인</a></li>
                <li><a href="#">고민올리기</a></li>
                <li><a href="post-list-all.html">게시판</a></li>
                <li><a href="#">곰곰이</a></li>
              </ul>
              <a href="마이페이지URL" class="mypage-button">
                <img src="photo/mypage-icon.png" alt="마이페이지">
              </a>
            </nav>
        </header>
        <section class="login">
            <div class="login__div">
                <div class="login__icon"></div>
                <div class="login__title"><span style="font-size:medium;">고민하지 말고,</span><br>곰곰에서 고민을 나누어요</div>
            </div>


            <form class="login-form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{ form.as_p }}
                </div>
                <div class="btns">
                    <input class="btns__login" type="submit" value="로그인">
                </div>
            </form>
            <button class="btns__signup" onclick="location.href='{% url 'accounts:signup' %}'">회원가입</button>
        </section>
        <footer class="main-footer">
        </footer>
    </body>
</html>




{% comment %} <!--style 적용 예시-->
<style>
    .login-form-username {
        width: 557px;
        height: 80px;
        flex-shrink: 0;
        border-radius: 24px;
        border: 2px solid var(--color3);
        background: var(--ffffff, #FFF);
    }
    </style>
<h1>로그인</h1>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div>
        {{ form.as_ul }}
    </div>
    <div>
        <input type="submit">
    </div>
</form> {% endcomment %}

{% endblock %}
</html>