{% extends 'base.html' %}
{% block title %}마이페이지{% endblock %}
  {% load static %}
  {% block content %}
  <style type="text/css">
    a:link { color: #67594C; text-decoration: none;}
    a:visited { color: #67594C; text-decoration: none;}
    img { vertical-align: bottom; }
    .post-img { margin : 0px; }
    .todayWorryContent { 
      display : grid;
      grid-template-columns: repeat(2, 1fr);
      {% comment %} margin: 0 30px; {% endcomment %}
    }
    .todayWorryContent-left {
      margin : 0 20px;
    }
    .mypage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 62vw;
      border-bottom: 2px solid var(--color3);
      margin-left:450px;
  
    }
    .myWorry-button-1{
      background-color: #E9E5DA;
      margin-left:13px;
      margin-right:13px;
    }
    
    .myWorry-button-1.clicked {
      background-color: #67594C;
    }

    .myWorry-button-text__title-1 {
      font-family: Pretendard;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      margin-bottom: 4px;
      color: #67594C;
  }
    .myWorry-button-text__count-1 {
      color: var(--67594-c, rgba(103, 89, 76, 0.50));
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
  }

    .myWorry-button-text__title-1.clicked {
      font-family: Pretendard;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      margin-bottom: 4px;
      color : #D2CDBC;
  }
    .myWorry-button-text__count-1.clicked {
      color: var(--67594-c, #E9E5DA);
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;

    }
    .todayWorryContent-question-header__like1{
      right: 50px;
    }
    .todayWorryContent-selection-image-content-left {
      width: 181px;
      height: 72px;
      flex-shrink: 0;
      border-radius: 8px;
      border: 2px solid var(--e-9-e-5-da, #E9E5DA);
      background: var(--faf-9-f-6, #FAF9F6);
      color: #67594C;
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      cursor: pointer;
  }
    .todayWorryContent-selection-image-content-right {
      width: 181px;
      height: 72px;
      flex-shrink: 0;
      border-radius: 8px;
      border: 2px solid var(--e-9-e-5-da, #E9E5DA);
      background: var(--faf-9-f-6, #FAF9F6);
      color: #67594C;
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      margin-left: 20px;
      cursor: pointer;
    }
    .selection_image{
      object-fit:cover;
    }

    .selection_image {
      object-fit: cover;
      border-radius: 10px;
  }

    .todayWorryContent-selection-image-content-left {
      margin-left: 5px;
    }
    .todayWorryContent-selection-image-content-right {
      margin-right: 5px;
    }

  </style>

        <div class="mypage">
            <div class="mypage__title">마이페이지</div>
            <div class="mypage__content">
                <div class="mypage__nicname">
                    {% comment %} 프로필 사진 {% endcomment %}
                      {% if request.user.image %}
                          <img class="card__image" src="{{ request.user.image.url }}" alt="" height="40" width="40">
                    {% comment %} 회원가입 시 이미지가 없는 경우 {% endcomment %}
                      {% else %}
                          <img class="card__image" src="{% static 'photo/gomgomprofile.png' %}" alt="" height="20" width="20">
                      {% endif %}
                    <span>{{ user.username }}</span>
                </div>
                <div class="mypage__settings">
                  {% comment %} 프로필 수정 부분 페이지 연결하기 {% endcomment %}
                  {% comment %} <a href="{% url 'accounts:logout' %}"><span>프로필 수정</span></a> {% endcomment %}
                  <a href="{% url 'accounts:logout' %}"><span>로그아웃</span></a>
                </div>    
            </div>
        </div>
        <div class="bottomline"></div>

        <form action="" method="GET" enctype="multipart/form-data">
        <div class="myWorry-buttons">

            <button class="myWorry-button-1" name ="mypage" value="mypost">
              <div class="myWorry-button">
                <div id="myWorry-btn-title" class="myWorry-button-text__title-1">나의 고민</div>
                <div class="myWorry-button-text__count-1"> {{ post_list.count }} 개</div>
              </div>
            </button>


            <button class="myWorry-button-1" name="mypage" value="myheart">
                <div class="myWorry-button">
                    <div id="myWorry-btn-title" class="myWorry-button-text__title-1">내가 공감한 고민</div>
                    <div class="myWorry-button-text__count-1"> {{ heart_list.count }} 개</div>
                </div>
            </button>


            <button class="myWorry-button-1" name="mypage" value="mycomment">
                <div class="myWorry-button">
                  <div id="myWorry-btn-title" class="myWorry-button-text__title-1">내가 답변한 고민</div>
                  <div class="myWorry-button-text__count-1">{{comment_list.count}} 개</div>
                </div>
            </button>

        </div>
      </form>

      <script>
      const myBtns = document.querySelectorAll('.myWorry-button-1'); // 마이페이지 버튼
      const myTxts = document.querySelectorAll('.myWorry-button-text__title-1'); // 마이페이지 버튼 텍스트
      const myCounts = document.querySelectorAll('.myWorry-button-text__count-1'); // 마이페이지 버튼 개수
  
      let selectedCategoryIndex = null;
  
      // 버튼 클릭 상태 저장
      function saveButtonState(key, index) {
          localStorage.setItem(key, index);
      }
  
      // 버튼 클릭 상태 복원
      function applyButtonState(key, buttons, texts, counts) {
          const selectedIndex = localStorage.getItem(key);
          if (selectedIndex !== null) {
              buttons.forEach((button, index) => {
                  const isClicked = index === parseInt(selectedIndex);
                  button.classList.toggle('clicked', isClicked);
                  texts[index].classList.toggle('clicked', isClicked);
                  counts[index].classList.toggle('clicked', isClicked);
              });
          }
      }
  
      // 마이페이지 버튼 처리하기
      myBtns.forEach((myBtn, index) => {
          myBtn.addEventListener('click', function () {
              // 현재 선택된 버튼이 아닌 경우에만 처리하기
              if (selectedCategoryIndex !== index) {
                  // 이전 선택된 버튼의 색상을 원래 색상으로 변경
                  if (selectedCategoryIndex !== null) {
                      const prevSelectedBtn = myBtns[selectedCategoryIndex];
                      const prevSelectedTxt = myTxts[selectedCategoryIndex];
                      const prevSelectedCount = myCounts[selectedCategoryIndex];
                      prevSelectedBtn.classList.remove('clicked');
                      prevSelectedTxt.classList.remove('clicked');
                      prevSelectedCount.classList.remove('clicked');
                  }
  
                  // 선택된 버튼의 색상 변경
                  myBtn.classList.add('clicked');
                  myTxts[index].classList.add('clicked');
                  myCounts[index].classList.add('clicked');
  
                  selectedCategoryIndex = index;
  
                  // 저장된 선택된 버튼 인덱스 업데이트
                  saveButtonState('selectedCategoryIndex', index);
              }
          });
      });
  
      // 페이지 로드 시 버튼 클릭 상태 복원
      applyButtonState('selectedCategoryIndex', myBtns, myTxts, myCounts);
  </script>

          <section class="content-section">
            <div class="todayWorryContent">
              {% for post in main_list %}
              {% comment %} {% if post.writer|stringformat:"s" != "gomgom"%} {% endcomment %}
                  <div class="todayWorryContent-left">
                    <div class="todayWorryContent-left-start">
                        <div class="todayWorryContent-medium-sizebox">
                            <div class="todayWorryContent-question-header">
                                <div class="todayWorryContent-question-header__title">
                                  <a href="{% url 'posts:post-detail' post.id %}">{{ post.title }}</a>
                                </div>
                                <div class="todayWorryContent-question-header__like1">
                                    <div class="todayWorryContent-question-header__like-icon">
                                      <img src="{% static 'photo/message.svg'%}" alt="message">
                                    </div>
                                    <div class="todayWorryContent-question-header__like-count">
                                      {{ post.comment_set.count }}
                                    </div>
                                </div>
                                <div class="todayWorryContent-question-header__like2">
                                    <div class="todayWorryContent-question-header__like-icon">
                                        <img class=".todayWorryContent-icon" src="{% static 'photo/heart.svg'%}" alt="heart">
                                    </div>
                                    <div class="todayWorryContent-question-header__like2-text">
                                        {{ post.like.count }}
                                    </div>
                                </div>
                            </div>
                            {% if post.writer|stringformat:"s" != "gomgom"%}
                            {% comment %}SelectionImage{% endcomment %}



                                    <div class="todayWorryContent-two-buttons">
                                      {% if post.selection_set.all.0.image %}
                                      <img class="selection_image" src="{{ post.selection_set.all.0.image.url }}" height="72" width="72">
                                      <div class="todayWorryContent-selection-image-content-left">
                                        <div class="todayWorryContent-two-buttons-left-1">
                                            <div>{{ post.selection_set.all.0.content }}</div>
                                            <div class="hidden ratio">60%</div>
                                        </div>
                                      </div>
                                      {% else %}
                                      <div class="todayWorryContent-two-buttons-left">
                                        <div class="todayWorryContent-two-buttons-left-1">
                                            <div>{{ post.selection_set.all.0.content }}</div>
                                            <div class="hidden ratio">60%</div>
                                        </div>
                                      </div>
                                      {% endif %}
                                      
                                      {% if post.selection_set.all.1.image %}
                                      <div class="todayWorryContent-selection-image-content-right">
                                          <div class="todayWorryContent-two-buttons-right-1">
                                              <div>{{ post.selection_set.all.1.content }}</div>
                                              <div class="hidden ratio">40%</div>
                                          </div>
                                      </div>
                                      <img class="selection_image" src="{{ post.selection_set.all.1.image.url }}" height="72" width="72">
                                      {% else %}
                                      <div class="todayWorryContent-two-buttons-right">
                                        <div class="todayWorryContent-two-buttons-right-1">
                                            <div>{{ post.selection_set.all.1.content }}</div>
                                            <div class="hidden ratio">40%</div>
                                        </div>
                                      </div>
                                      {% endif %}
                  
                  
                                    </div>




                            {% endif %}
                            {% if post.writer|stringformat:"s" == "gomgom"%}
                              <br>
                              <br>
                            {% endif %}
                            <div class="todayWorryContent-left-start-box-post">
                              {{ post.content }}
                            </div>
                        </div>
          
                        <div class="todayWorryContent-profile">
                            <div class="todayWorryContent-profile-box">
                                <div class="todayWorryContent-profile-box-1">
                                    <div class="todayWorryContent-profile-box-icon">
                                      {% if post.writer.image %}
                                        <img class="userImage" src="{{ post.writer.image.url }}" alt="프로필 이미지" height=40 width=40>
                                      {% elif post.writer|stringformat:"s" == "gomgom"%}
                                        <img src="{% static 'photo/thinkgomgom.png'%}" alt="곰곰이미지" height=45, width=40>
                                      {% else %}
                                        <img src="{% static 'photo/completeGom.png' %}" alt="프로필 이미지"  height=40, width=45>
                                      {% endif %}
                                    </div>
                                    <div class="todayWorryContent-profile-box-text1">
                                      {{ post.writer }}
                                    </div>
                                </div>
                                <div class="todayWorryContent-profile-box-text2">
                                  {{ post.created_string }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                  </div>
                  {% comment %} {% endif %} {% endcomment %}
                  {% endfor %}
          </section>
    
          <div class="pageNumberBar">
            <div class="pageNumberBar-container">
              <div class="pageNumberBar-container__left-btn">
                <img src="{% static 'photo/leftBtn.png'%}">
              </div>
              <div class="pageNumberBar-container__chosen-page">
                <img src="{% static 'photo/chosenPageSign.svg'%}">
              </div>
              <div class="pageNumberBar-container__second">
                2
              </div>
              <div class="pageNumberBar-container__third">
                3
              </div>
              <div class="pageNumberBar-container__right-btn">
                <img src="{% static 'photo/rightBtn.png'%}">
              </div>
              </div>
          </div>
        </main>
{% endblock %}