<!DOCTYPE html>
{% load static %}
<html lang="ko">
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap" rel="stylesheet">
    <title>{% block title %}회원가입{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <p>gomgom</p>
          </div>
        <nav class="nav">
          <ul class="nav__navbar">
            <li><a href="#">메인</a></li>
            <li><a href="#">고민올리기</a></li>
            <li><a href="post-list-all.html">게시판</a></li>
            <li><a href="#">곰곰이</a></li>
          </ul>
          <a href="마이페이지URL" class="mypage-button">
            <img src="{% static 'photo/mypage-icon.png' %}">
          </a>
        </nav>
    </header>

    <section class="signup-sec">
      <form class="signupForm" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
          {% for field in form %}
            {% if field.label == '이미지' %}
            <div class="signupContainer">
              <p>회원가입</p>
              <div class="signupImage"> {{ field }}</div>
              <label for="file-input">사진 등록</label>
              <input type="file" id="file-input" style="display: none;" >
            </div>
            {% else %}
            <div>
                {{ field.label }}<br>
                {{ field }}<br><br>
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div>
          <button type="submit" class="loginBtn">완료</button>
        </div>
      </form>
    </section>

    <footer class="main-footer">
    </footer>
</body>
{% endblock %}
</html>