{% extends 'base.html' %}
{% block title %}회원가입{% endblock %}

{% block content %}
<h1>회원가입</h1>

<form id="signupForm" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div>
        {{ form.as_ul }}
    </div>
    <div>
        <input type="submit">
    </div>
</form>
<script>
    document.getElementById("signupForm").addEventListener("submit", function(event) {
        var password1 = document.getElementById("id_password1").value;
        var password2 = document.getElementById("id_password2").value;
        var username = document.getElementById("id_username").value;

        if (password1 !== password2) {
            event.preventDefault();  // 폼 제출을 막음
            alert("비밀번호가 일치하지 않습니다.");
            document.getElementById("id_password1").value = "";  // 비밀번호1 값을 비움
            document.getElementById("id_password2").value = "";  // 비밀번호2 값을 비움
        }

    });
</script>
{% endblock %}