{% extends 'base.html' %}
  {% block title %}회원가입 {% endblock %}

{% block content %}
    <section class="signup-sec">
      <form class="signupForm" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
          {% for field in form %}
            {% if field.label == '이미지' %}
            <div class="signupContainer">
              <p>회원가입</p>
              <div class="signupImage"> {{ field }}</div>
              <label for="file-input">사진 등록</label>
              <input type="file" id="file-input" style="display: none;" >
            </div>
            {% else %}
            <div>
                {{ field.label }}<br>
                {{ field }}<br><br>
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div>
          <button type="submit" class="loginBtn">완료</button>
        </div>
      </form>
    </section>
    <footer class="main-footer">
    </footer>
{% endblock %}
