:root {
    --color1:#67594C;
    --color2:#D2CDBC;
    --color3:#E9E5DA;
    --color4:#D9D9D9;
    --bodycolor:#FAF9F6;
}
body {
    margin: 0;
    padding: 0;
    background-color:var(--bodycolor);
}
