.signup-sec {
    width: 100vw;
    height: 1046px;
    background-color: var(--bodycolor);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signupContainer > p {
    color: var(--color1);
    font-size: 36px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-top: 86px;
}
.signupContainer img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 150px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.signupContainer label {
    width: 120px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid var(--color2);
    background: var(--color3);
    color: var(--67594-c, rgba(103, 89, 76, 0.50));
    font-size: 15px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.signupForm {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}
.signupForm div {
    color: var(--67594-c, #67594C);
    font-size: 20px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 10px;
}
.signupForm input {
    width: 557px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid var(--color3);
    background: var(--ffffff, #FFF);
}
.signupForm:nth-child(3) {
    margin-bottom: 88px;
}
.signupForm input[type="text"] {
    text-indent: 31px;
    color: var(--color1);
    font-size: 24px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}
.signupForm input[type="password"] {
    text-indent: 31px;
    color: var(--color1);
    font-size: 30px;
}
.signupForm input[type="text"]::placeholder,
.signupForm input[type="password"]::placeholder {
    color: var(--color2);
    /* M 18 */
    font-size: 18px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-indent: 31px;
}
.loginBtn {
    width: 340px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 44px;
    background: var(--ffab-5-d, #FFAB5D);
    border-style: none;
    color: #FFF;
    /* B 24 */
    font-size: 24px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 42px;
    margin-left: 115px;
}
.signupImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}