@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

.main_visual_top {
    position: relative;
    width: 100%;
    height: 448px;
    background: #67594C;
}

.first-paragraph {
    padding-top: 78px;
    margin-right: 1107px;
    margin-left: 427px;
    color: #FAF9F6;
    font-size: 20px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.second-paragraph {
    color: #FAF9F6;
    font-size: 36px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.third-paragraph {
    color: #FAF9F6;
    font-size: 36px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.fourth-paragraph {
    width: 176px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--ffab-5-d, #FFAB5D);
    border: none;
    color: var(--ffffff, #FFF);
    font-size: 20px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.fourth-box {
    margin-right: 404px;
}

.main_visual_bottom {
    height: 385px;
    flex-shrink: 0;
    background: var(--d-2-cdbc, #D2CDBC);
}

.paragraph-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 427px;
    margin-top: 27px;
}

.ask-box {
    margin-top: 100px;
}

.ask-text {
    color: #67594C;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.think-box {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.think-text {
    color: #67594C;
    width: 294px;
    height: 52px;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
}


.worry-box {
    margin-top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worry-box-contents {
    width: 680px;
    height: 248px;
    position: relative;
    border-radius: 24px;
    background: var(--e-9-e-5-da, #E9E5DA);
    box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
}

.worry-text {
    text-align: center;
    color: var(--d-2-cdbc, #D2CDBC);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    border: none;
    outline: none;
    margin: 0px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}


.image-box {
    margin-top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.img {
    width: 285px;
    height: 310px;
    flex-shrink: 0;
    background: lightgray -3.534px 0px / 101.411% 153.516% no-repeat;
    background-blend-mode: darken;
}

.line{ 
    height: 4px;
    background: var(--e-9-e-5-da, #E9E5DA);
}

main{ 
    background: var(--faf-9-f-6, #FAF9F6);
}

.worry-text::placeholder {
    color: var(--d-2-cdbc, #D2CDBC);
}

#submit-button {
    border:none;
    background-color: none;
}