@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');


.ask-box {
    margin-top: 1px;
}

.ask-text {
    color: #67594C;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.think-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.think-text {
    color: #67594C;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
}


.worry-box {
    margin-top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worry-box-contents {
    width: 680px;
    height: 248px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--e-9-e-5-da, #67594C);
    box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
    text-align: center;
}

.worry-text {
    color: var(--67594-c, #67594C);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-top: 70px;
}


.image-box {
    margin-top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 501px;
    height: 320px;
    flex-shrink: 0;
    background: lightgray -3.534px 0px / 101.411% 153.516% no-repeat;
    background-blend-mode: darken;
}

.line {
    height: 4px;
    background: var(--e-9-e-5-da, #E9E5DA);
}

main{ 
    background: var(--faf-9-f-6, #FAF9F6);
}

.worry-button-box{ 
    margin-top: 57px;
    margin-bottom: 19px;
}