.mypage-button {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    background: url(./mypage-icon.png) lightgray 50% / cover no-repeat;
}
.chosen-nav {
    border-bottom: 4px solid var(--color1);
}
.list-all {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.list-all__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--color3);
}
.list-all__title,
.category__title {
    color: var(--color1);
    font-size: 20px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 5vh;

}
.list-all__slide {
    margin: 31px 0 53px 0;
    display: flex;
    align-items: center;
}
.slide-btn-prev, 
.slide-btn-next {
    border: none;
    border-radius: 48px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-color: var(--color3);
    box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
}
.slide-op {
    width: 280px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
    padding: 24px;
}
.slide-op:nth-child(1),
.slide-op:nth-child(2) {
    margin-right: 40px;
}
.list-all__slide-options {
    display: flex;
    margin:0 82px 0 82px;
}
.category {
    width: 100vw;
    height: 192px;
    display: flex;
    justify-content: center;
}
.category__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category__btns {
    display: flex;
    align-items: center;
    margin: 35px 0 41px 0;
}
.category__btns input {
    margin-right: 8px;
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 17px;
    border: 2px solid var(--color2);
    background: var(--color3);
    color: var(--67594-c, rgba(103, 89, 76, 0.50));
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    cursor: pointer;
}
.pageNumberBar {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    margin-bottom: 107px;
}
.pageNumberBar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageNumberBar-container__left-btn,
.pageNumberBar-container__chosen-page,
.pageNumberBar-container__second,
.pageNumberBar-container__third {
    margin-right: 41px;
}
.pageNumberBar-container__second,
.pageNumberBar-container__third {
    display: flex;
    width: 12px;
    height: 24px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--67594-c, rgba(103, 89, 76, 0.50));

    /* M 15 */
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.hidden {
    display: none;
}
.todayWorryContent {
    margin-top: 41px;
    display: flex;
    flex-direction: row;
}

.todayWorryContent-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.todayWorryContent-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todayWorryContent-left-start {
    height: 300px;
}


.todayWorryContent-medium-sizebox {
    width: 580px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
}

.todayWorryContent-profile {
    width: 580px;
    height: 80px;
}

.todayWorryContent-small-sizebox {
    width: 580px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
}
.todayWorryContent-big-sizebox {
    width: 580px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    
    /* Drop Shadow */
    box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
}


.todayWorryContent-right-start-box {
    width: 580px;
    height: 302px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(210, 205, 189, 0.50);
}

.todayWorryContent-right-start-profile {
    height: 80px;
}


.todayWorryContent-question-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.todayWorryContent-question-header__title {
    color: #67594C;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 24px;
}

.todayWorryContent-two-buttons {
    margin-top: 20px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.todayWorryContent-left-start-box-post {
    margin-left: 20px;
    margin-right: 107px;
    display: flex;
    width: 453px;
    flex-direction: column;
    flex-shrink: 0;
    color: #67594C;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

}
.todayWorryContent-two-buttons-left {
    width: 260px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--e-9-e-5-da, #E9E5DA);
    background: var(--faf-9-f-6, #FAF9F6);
    color: #67594C;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    cursor: pointer;
}

.todayWorryContent-two-buttons-right {
    width: 260px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--e-9-e-5-da, #E9E5DA);
    background: var(--faf-9-f-6, #FAF9F6);
    color: #67594C;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-left: 20px;
    cursor: pointer;
}

.todayWorryContent-two-buttons-left-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todayWorryContent-two-buttons-right-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.todayWorryContent-four-buttons {
    display: flex;
    
}
.todayWorryContent-four-buttons-box {
    width: 261px;
    flex-shrink: 0;
    display: flex;
    margin-left: 20px;
    margin-top: 16px;

}
.todayWorryContent-four-buttons-choice-btn {
    width: 181px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--e-9-e-5-da, #E9E5DA);
    background: var(--faf-9-f-6, #FAF9F6);
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #67594C;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    cursor: pointer;
}
.todayWorryContent-four-buttons-left-2 {
    width: 261px;
    flex-shrink: 0;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.todayWorryContent-question-header__like1 {
    margin-left: 168px;
    display: flex;
    flex-direction: row;
}
.todayWorryContent-question-header__like-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.todayWorryContent-icon {
    width: 100%;
    height: auto;
}
.todayWorryContent-question-header__like-count {
    color: var(--d-2-cdbc, #D2CDBC);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-left: 4px;
}
.todayWorryContent-question-header__like2 {
    margin-left: 11.33px;
    display: flex;
    flex-direction: row;
}


.todayWorryContent-question-header__like2-text {
    color: var(--d-2-cdbc, #D2CDBC);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-left: 4px;
}
.todayWorryContent-profile-box {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.todayWorryContent-profile-box-1 {
    display: flex;
}
.todayWorryContent-profile-box-text1 {
    margin-left: 13px;
    color: var(--67594-c, rgba(103, 89, 76, 0.50));
    font-size: 15px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.todayWorryContent-profile-box-text2 {
    color: var(--67594-c, rgba(103, 89, 76, 0.50));
    font-size: 13px;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}
.todayWorryContent-profile-box-icon{ 
    margin-top: 8px;
}

.todayWorryContent-profile-box-text1{ 
    margin-top: 11px;
}

.todayWorryContent-profile-box-text2{ 
    margin-top: 11px;
}