{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/screens/ai_response.css' %}">
    <link rel="stylesheet" href="{% static 'css/screens/post-detail-today-question.css'%}">
    <link rel="stylesheet" href="{% static 'css/screens/post-detail-view.css' %}">  
    <link rel="stylesheet" href="{% static 'css/screens/post-create-from-view.css'%}">
    <link rel="stylesheet" href="{% static 'css/screens/post-list-all.css'%}">
    <link rel="stylesheet" href="{% static 'css/screens/mypage_my_worry.css'%}">
    <link rel="stylesheet" href="{% static 'css/screens/ai.css'%}">

    <script defer src="{% static 'js/post-list-all.js' %}"></script>  
    <script defer src="{% static 'js/post-detail-today-question.js' %}"></script>
    <script defer src="{% static 'js/post-detail-view.js' %}"></script> 
    <script defer src="{% static 'js/mypage_my_worry.js' %}"></script> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap" rel="stylesheet">

</head>
<style>

</style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav id="nav">
            <div class="logo">
                <p>gomgom</p>
            </div>
            <div class="navbar-div-box">
                <div class="navbar-div">
                    <a class="header-menu" href="{% url 'gomgom:home'%}">메인</a>
                    <a class="header-menu" href="{% url 'posts:post-create'%}">고민올리기</a>
                    <a class="header-menu" href="{% url 'posts:post-list-all' %}">게시판</a>
                    <a class="header-menu" href="{% url 'gomgom:ai'%}">곰곰이</a>
                </div>
                {% if request.user.image %}
                    <div class="mypage-div">
                        <a href="{% url 'accounts:mypage'%}">
                            <img class="mypage-img" src="{{ request.user.image.url }}">
                        </a>
                    </div>
                {% else %}
                    <div class="mypage-div">
                        <a href="{% url 'accounts:mypage'%}">
                            <img src="{% static 'photo/gomgomprofile.png' %}"  height=35, width=30>
                        </a>
                    </div>
                {% endif %}
            </div>
        </nav>
        <div class="line">
    </header>

    {% block content %}

    {% endblock %}
    
    <footer>
        <div class="footer">
            <div class="footer-contents">
                <div class="gomgom-logo">
                    gomgom
                </div>
                <div class="footer-text">
                    한성대학교 멋쟁이사자처럼 교내해커톤 6조<br>
                    서울특별시 성북구 삼선교로 16길(삼선동2가) 116 한성대학교
                </div>
            </div>
        </div>
    </footer>
</body>
</html>