{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/screens/ai_response.css' %}">
    <link rel="stylesheet" href="{% static 'css/screens/post-detail-today-question.css'%}">
    <link rel="stylesheet" href="{% static 'css/screens/post-detail-view.css' %}">  


    <script defer src="{% static 'js/post-list-all.js' %}"></script>  
    <script defer src="{% static 'js/post-detail-today-question.js' %}"></script>
    <script defer src="{% static 'js/post-detail-view.js' %}"></script> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap" rel="stylesheet">

</head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <header>
        <nav id="nav">
            <div class="logo">
                <p>gomgom</p>
            </div>
        <nav class="nav">
            <ul class="nav__navbar">
                <li><a href="{% url 'gomgom:home'%}">메인</a></li>
                <li><a href="{% url 'posts:post-create'%}">고민올리기</a></li>
                <li><a href="{% url 'posts:post-list-all' %}">게시판</a></li>
                <li><a href="{% url 'gomgom:ai'%}">곰곰이</a></li>
            </ul>
            {% comment %} 회원가입 시 이미지가 있는 경우 {% endcomment %}
            {% if request.user.image %}
                <a href="{% url 'accounts:mypage'%}">
                    <img class="userImage" src="{{ request.user.image.url }}">
                </a>
                <br>
            {% comment %} 회원가입 시 이미지가 없는 경우 {% endcomment %}
            {% else %}
                {% comment %}<a href="{% url 'accounts:mypage'%}" class="mypage-button">   {%endcomment%}
                <a href="{% url 'accounts:mypage'%}">
                    <img class="userImage" src="{% static 'photo/basic_profile.png' %}">
                <a>
                <br>
            {% endif %}
        </nav>
        </nav>
    </header>
    
    {% block content %}

    {% endblock %}

    <footer class="main-footer">
    </footer>
</body>
</html>